

<form>
    <div class="input-group">
        <span class="input-group-btn">
            <button 
            class="btn btn-default" 
            type="button"
            on-click="changePasswordView()"
            >
                {{isHide ? "Show" : "Hide"}}
            </button>
        </span>
        <input 
            type={{type}}
            class="form-control" 
            placeholder="Enter your password..."
            name="password"
            [(ngModel)]="password"            
        >
    </div>

    <div class="easy" [ngStyle]="{backgroundColor: colorEasy}" >Easy</div>
    <div class="medium" [ngStyle]="{backgroundColor: colorMedium}">Medium</div>
    <div class="strong" [ngStyle]="{backgroundColor: colorStrong}">Strong</div>

</form>




<!-- [(ngModel)]="passwordText" -->

