.list {
    list-style: none;
    
    display: flex;
    flex-direction: column;    
    align-items: center;

    margin: 0;
    padding: 0;
}

.easy,
.medium,
.strong {
    width: 300px;
    padding: 10px 40px 10px 40px;
    margin-top: 16px;
    border: 1px solid black;
    text-align: center;
}